<h1>Create Your account</h1>
<h2>Signup is easy and only takes a few seconds</h2>

<div class="formWrapper">
    <form id="accountCreate" action="/api/users" method="POST">
        <div class="formError"></div>
        <div class="inputWrapper">
          <div class="inputLabel">UserName</div>
          <input type="text" name="userName" placeholder="User Name" />
        </div>
        <div class="inputWrapper">
          <div class="inputLabel">Email Address</div>
          <input type="text" name="emailAddress" placeholder="farukgbolahan21@gmail.com" />
        </div>
        <div class="inputWrapper">
          <div class="inputLabel">Street Address</div>
          <input type="text" name="streetAddress" placeholder="abi,7,street" />
        </div>
        <div class="inputWrapper ctaWrapper">
          <button type="submit" class="cta blue">Get Started</button>
        </div>
      </form>    
</div>