<h1>Welcome</h1>
<h2>You can place your order here</h2>
<hr />

<h1>The list of all the available items is below and their prices</h1>
<div class="container">
<div class="card">
    <img src="public/champagne.jpg" width="100%" >
    <h2 class="unknown">Champagne</h2>
    <p class="price">$19.99</p>
    <form id="menuList">
      <div class="formError"></div>
    <button id="myButton0" type="submit" >ADD TO CART</button>
</script>
</form>
</div>

<div class="card">
    <img src="public/henessy.jpg" width="100%" >
    <h2 class="unknown">Hennessy</h2>
    <p class="price">$70.88</p>
    <button id="myButton1">ADD TO CART</button>
</div>

<div class="card">
    <img src="public/mcdowell.jpg" width="100%">
    <h2 class="unknown">MC dowell</h2>
    <p class="price">$50.00</p>
    <button id="myButton2">ADD TO CART</button>
</div>

<div class="card">
    <img src="public/friedrice.jpg" width="100%" >
    <h2 class="unknown">Fried Rice</h2>
    <p class="price">$19</p>
    <button id="myButton3">ADD TO CART</button>
</div>

<div class="card">
    <img src="public/pizza.jpg" width="100%" >
    <h2 class="unknown">Pizza</h2>
    <p class="price">$13.99</p>
    <button id="myButton4">ADD TO CART</button>
</div>

<div class="card">
    <img src="public/salad.jpg" width="100%" >
    <h2 class="unknown">Salad</h2>
    <p class="price">$111.99</p>
    <button id="myButton5">ADD TO CART</button>
</div>

<div class="card">
    <img src="public/Turkey.jpg" width="100%" >
    <h2 class="unknown">Turkey</h2>
    <p class="price">$10.99</p>
    <button id="myButton6">ADD TO CART</button>
</div>

<div class="card">
    <img src="public/rice.jpg" width="100%" >
    <h2 class="unknown">Rice</h2>
    <p class="price">$15.01</p>
    <button id="myButton7">ADD TO CART</button>
</div>
</div>
